In [1]:
import pandas as pd
import requests

In [68]:
url = "https://pt.wikipedia.org/wiki/Paulo_Fonseca"
url2 = 'https://pt.wikipedia.org/wiki/Jorge_Jesus'
url3= 'https://en.wikipedia.org/wiki/Abel_Ferreira'
url4= 'https://pt.wikipedia.org/wiki/V%C3%ADtor_Pereira'
url5= 'https://en.wikipedia.org/wiki/Lu%C3%ADs_Castro_(footballer,_born_1961)'

In [69]:
r = requests.get(url)
r2 = requests.get(url2)
r3 = requests.get(url3)
r4 = requests.get(url4)
r5 = requests.get(url5)

In [76]:
pf = pd.read_html(r.text, header=1)
jj = pd.read_html(r2.text, header=1)
af = pd.read_html(r3.text, header=1)
vp = pd.read_html(r4.text, header=1)
lc = pd.read_html(r5.text, header=1)

In [71]:
len(pf)

3

In [94]:
PF = pf[1]
JJ=jj[1]
AF = af[1]
VP=vp[2]
LC = lc[1]

In [95]:
PF

,Clube,Início,Até,J,V,E,D,GP,GC,SG,%
0,1º de Dezembro,1 de julho de 2007,30 de junho de 2008,34,13,11,10,39,32,+7,38.24
1,Odivelas,30 de junho de 2008,1 de julho de 2009,35,11,10,14,44,46,−2,31.43
2,Pinhalnovense,1 de julho de 2009,7 de junho de 2011,72,33,21,18,98,68,+30,45.83
3,Desportivo das Aves,7 de junho de 2011,30 de maio de 2012,38,16,16,6,49,29,+20,31.43
4,Paços de Ferreira,30 de maio de 2012,9 de junho de 2013,41,22,13,6,62,38,+24,53.66
5,Porto,10 de junho de 2013,5 de março de 2014,37,21,9,7,69,31,+38,56.76
6,Paços de Ferreira,10 de junho de 2014,1 de julho de 2015,39,14,12,13,58,53,+5,31.43
7,Braga,1 de julho de 2015,31 de maio de 2016,57,29,15,13,90,58,+32,31.43
8,Shakhtar Donetsk,31 de maio de 2016,11 de junho de 2019,139,103,19,17,295,112,+183,74.10
9,Roma,11 de junho de 2019,30 de junho de 2021,102,53,22,27,195,139,+56,51.96
10,Total,Total,Total,594,315,148,131,999,606,+393,53.03

In [96]:
JJ

,Clube,País,Início,Até,J,V,E,D,GP,GC,SG,%
0,Amora,Portugal,1 de julho de 1990,4 de fevereiro de 1993,103,41,34,28,132,92,+40,39.81
1,Felgueiras,Portugal,14 de dezembro de 1993,12 de maio de 1996,97,38,28,31,119,106,+13,39.18
2,Felgueiras,Portugal,18 de fevereiro de 1997,12 de Janeiro de 1998,34,17,6,11,41,32,+9,50.00
3,União da Madeira,Portugal,10 de fevereiro de 1998,23 de março de 1998,6,1,1,4,5,13,−8,16.67
4,Estrela da Amadora,Portugal,6 de junho de 1998,15 de maio de 2000,75,23,30,22,83,84,−1,30.67
5,Vitória de Setúbal,Portugal,3 de outubro de 2000,21 de janeiro de 2002,51,23,10,18,84,64,+20,45.10
6,Estrela da Amadora,Portugal,30 de janeiro de 2002,5 de março de 2003,41,21,9,11,51,41,+10,51.22
7,Vitória de Guimarães,Portugal,8 de dezembro de 2003,10 de maio de 2004,22,7,6,9,17,22,-5,31.82
8,Moreirense,Portugal,4 de abril de 2005,22 de maio de 2005,7,2,3,2,9,7,+2,28.57
9,União Leiria,Portugal,26 de setembro de 2005,11 de maio de 2006,30,13,6,11,43,35,+8,43.33
10,Belenenses,Portugal,12 de maio de 2006,19 de maio de 2008,70,31,16,23,87,74,+13,44.29
11,Braga,Portugal,20 de maio de 2008,16 de junho de 2009,48,24,13,11,68,30,+38,50.00
12,Benfica,Portugal,16 de junho de 2009,4 de junho de 2015,321,225,51,45,674,249,+425,70.09
13,Sporting,Portugal,5 de junho de 2015,5 de junho de 2018,158,99,26,33,302,146,+156,62.66
14,Al-Hilal,Arábia Saudita,5 de junho de 2018,30 de janeiro de 2019,25,20,4,1,44,17,+27,80.00
15,Flamengo,Brasil,20 de junho de 2019,17 de julho de 2020,57,43,10,4,129,47,+82,75.44
16,Benfica,Portugal,3 de agosto de 2020,presente,83,52,17,14,182,80,+105,62.65
17,Total,Total,Total,Total,1227,680,270,277,2091,1140,+951,55.42

In [108]:
AF= AF.rename(columns={".mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}G": "G", 'Win %':'%'})
AF

,Team,Nat,From,To,G,W,D,L,GF,GA,GD,Win %
0,Sporting CP (juniors),NaN,14 February 2012,30 June 2013,48,32,7,9,112,56,+56,66.67
1,Sporting CP B,NaN,1 July 2013,30 June 2014,42,20,10,12,61,50,+11,47.62
2,Braga B,NaN,16 February 2015,26 April 2017,102,35,31,36,116,117,−1,34.31
3,Braga (interim),NaN,15 December 2016,19 December 2016,1,1,0,0,1,0,+1,100.00
4,Braga,NaN,26 April 2017,1 July 2019,102,62,15,25,186,109,+77,60.78
5,PAOK,NaN,1 July 2019,29 October 2020,57,31,16,10,92,51,+41,54.39
6,Palmeiras,NaN,30 October 2020,present,174,101,40,33,296,139,+157,58.05
7,Career total,Career total,Career total,Career total,526,282,119,125,864,522,+342,53.61

In [98]:
VP

,Clube,Início:,Saída do clube:,J,V,E,D,GP,GC,SG,Aproveitamento:
0,Sanjoanense,30 de novembro de 2004,30 de maio de 2005,24,9,7,8,26,24,+2,37.50
1,Espinho,31 de maio de 2005,19 de março de 2007,51,25,17,9,72,42,+30,49.02
2,Santa Clara,1 de junho de 2008,3 de junho de 2010,73,34,21,18,104,74,+30,46.58
3,Porto,22 de junho de 2011,7 de junho de 2013,93,65,16,12,190,67,+123,69.89
4,Al-Ahli,1 de julho de 2013,4 de maio de 2014,37,19,10,8,70,35,+35,51.35
5,Olympiacos,8 de janeiro de 2015,10 de junho de 2015,27,18,6,3,66,18,+48,66.67
6,Fenerbahçe,11 de junho de 2015,15 de agosto de 2016,62,38,15,9,106,54,+52,61.29
7,1860 München,1 de janeiro de 2017,31 de maio de 2017,20,6,3,11,18,27,−9,30.00
8,Shanghai SIPG,12 de dezembro de 2017,31 de dezembro de 2020,118,69,27,22,229,124,+105,58.47
9,Fenerbahçe,2 de julho de 2021,20 de dezembro de 2021,25,11,7,7,41,32,+9,44.00
10,Corinthians,23 de fevereiro de 2022,presente,53,22,16,15,64,47,+17,51.57
11,Total,Total,Total,583,316,145,122,986,544,+451,54.20

In [99]:
LC=LC.rename(columns={".mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help} G": "G"})
LC= LC.drop(['Nat'], axis=1)
LC

,Team,From,To,G,W,D,L,GF,GA,GD,Win %
0,Águeda,2 June 1998,21 February 2000,61,28,14,19,89,73,+16,45.90
1,Mealhada [pt],17 May 2000,30 June 2001,30,18,9,3,73,18,+55,60.00
2,Estarreja,30 June 2001,22 May 2003,79,42,13,24,145,99,+46,53.16
3,Sanjoanense,22 May 2003,16 September 2004,45,22,11,12,67,47,+20,48.89
4,Penafiel,16 September 2004,4 June 2006,70,17,13,40,71,114,−43,24.29
5,Porto B,1 July 2013,4 March 2014,32,18,6,8,39,26,+13,56.25
6,Porto,5 March 2014,10 May 2014,16,9,2,5,25,18,+7,56.25
7,Porto B,11 May 2014,12 November 2016,106,48,22,36,166,133,+33,45.28
8,Rio Ave,12 November 2016,1 June 2017,27,13,5,9,34,26,+8,48.15
9,Chaves,1 June 2017,20 May 2018,37,14,8,15,51,60,−9,37.84
10,Vitória Guimarães,20 May 2018,12 June 2019,39,18,7,14,56,37,+19,46.15
11,Shakhtar Donetsk,12 June 2019,9 May 2021,84,51,16,17,168,94,+74,60.71
12,Al-Duhail,11 August 2021,18 March 2022,26,18,5,3,75,30,+45,69.23
13,Botafogo,25 March 2022,present,34,13,7,14,37,39,−2,38.24
14,Total,Total,Total,685,328,138,219,1096,814,+282,47.88

In [109]:
print(AF.columns.tolist())

['Team', 'Nat', 'From', 'To', 'G', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Win\xa0%']

In [113]:
print ('Aproveitamento dos técnicos Portugueses na carreira')
print('Paulo Fonseca',PF['%'][10],'%')
print('Jorge Jesus',JJ['%'][17],'%')
print('Abel Ferreira', AF['Win\xa0%'][7],'%')
print('Vitor Pereira', VP['Aproveitamento:'][11],'%')
print('Luis Castro', LC['Win\xa0%'][14],'%')

Aproveitamento dos técnicos Portugueses na carreira
Paulo Fonseca 53.03 %
Jorge Jesus 55.42 %
Abel Ferreira 53.61 %
Vitor Pereira 54.2 %
Luis Castro 47.88 %

In [123]:
print ('Média de gols feitos dos técnicos Portugueses na carreira')
print('Paulo Fonseca',round(PF['GP'][10]/PF['J'][10],2))
print('Jorge Jesus',round(JJ['GP'][17]/JJ['J'][17],2))
print('Abel Ferreira', round(AF['GF'][7]/AF['G'][7],2))
print('Vitor Pereira', round(VP['GP'][11]/VP['J'][11],2))
print('Luis Castro', round(LC['GF'][14]/LC['G'][14],2))

Média de gols feitos dos técnicos Portugueses na carreira
Paulo Fonseca 1.68
Jorge Jesus 1.7
Abel Ferreira 1.64
Vitor Pereira 1.69
Luis Castro 1.6